#!/usr/bin/env sh

BOR=bor
DIR=$PWD

mkdir $DIR/data
$BOR --datadir $DIR/data init $DIR/genesis.json
cp -rf $DIR/keystore $DIR/data/

$BOR --datadir $DIR/data \
  --port 30341 \
  --rpc --rpcaddr '0.0.0.0' \
  --rpcvhosts '*' \
  --rpccorsdomain '*' \
  --rpcport 8545 \
  --ipcpath $DIR/geth.ipc \
  --rpcapi 'personal,db,eth,net,web3,txpool,miner,admin,bor' \
  --syncmode 'full' \
  --networkid '{{ bulldogChainId }}' \
  --unlock '0x01c1aC601CDFd1D0a11Faa3DcCcd78EFbD0669CC,0x265e016835494F05170E460Dad7a9380Bd3a1BFf' \
  --password $DIR/password.txt \
  --allow-insecure-unlock \
  --miner.gastarget '20000000' \
  --miner.gaslimit '20000000' \
  --mine
